.page {
  max-width: 100%;
  margin: 32px auto;
  padding: 0 16px;
}

.backBtn {
  background: #ffffff;
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  color: #2563eb;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 12px;
}

.loading {
  text-align: center;
  margin-top: 40px;
  color: #64748b;
}

.title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: larger;
}

.cardParent {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

/* CARD */
.card {
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  border: 1px solid #e5e7eb;
  margin-bottom: 20px;
  height: fit-content;
}

/* AVATAR */
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 16px;
  object-fit: cover;
}

/* FORM */
.label {
  display: block;
  margin-top: 12px;
  font-size: 0.85rem;
  font-weight: 600;
  color: #334155;
}

.input {
  width: 100%;
  margin-top: 6px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
}

/* BUTTONS */
.primaryBtn {
  margin-top: 14px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background: #2563eb;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.secondaryBtn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background: #0f172a;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* LIST */
.listItem {
  padding: 10px 0;
  border-bottom: 1px solid #e5e7eb;
}

.listItem:last-child {
  border-bottom: none;
}

.listItem strong {
  display: block;
}

.listItem small {
  color: #64748b;
  font-size: 0.8rem;
}

/* EMPTY */
.empty {
  color: #94a3b8;
  font-size: 0.85rem;
}